@font-face {
  font-family: 'MyWebFont';
  src: url('https://rawgit.com/evanslafahmi/evans/master/SF-Pro-Text-Regular.otf');
  src: url('https://rawgit.com/evanslafahmi/evans/master/SF-Pro-Text-Regular.otf')  format('opentype');
}

/* Kode utk gunakan font (misal utk body)*/
body {
  font-family: 'MyWebFont', sans-serif;
}
